<!DOCTYPE html>
<html>

<head>

	<div style="color:#fff" class="ui center aligned container">

	<title>License Plate Detector</title>


	<link href=
"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		rel="stylesheet" />
</head>

<body>

			<style>

			body{

  				background-image: url("static/car3.jpg");
  				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;

  				}

			</style>

	<div style="margin-top: 120px"
		class="ui container">
		<h2>License Plate Detector</h2>
	</div>

	<div class="ui center aligned container">

		<h3></h3>
		<p>

			Welcome to automatic Licence Plate detection System....
		</p>
	</div>
	<br>
	<div class="ui center aligned container">
		<h3>Upload here - </h3>

	    <form action = "/success" method = "post" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type = "submit" value="Upload">
        </form>

	</div>
	<br>
	<div class="ui right aligned container">
		<h3></h3>
		<p>
			Developed By -
			Pranav Dange
		</p>
	</div>
	<br>
	<div class="ui justified container">
		<h3> </h3>
		<p>

		</p>

	</div>
	<script src=
"https://code.jquery.com/jquery-3.1.1.min.js"
		integrity=
"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous">
	</script>

	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
	</script>
</body>

</html>
