

<!DOCTYPE html>
<html>

<head>
		<div style="color:#fff" class="ui center aligned container">

	<title>Licence Plate Detector</title>
	<link href=
"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		rel="stylesheet" />

</head>

<body>
	<div style="margin-top: 150px"
		class="ui container">
		<h2>License Plate Detector</h2>
	</div>

	<div class="ui center aligned container">

		<h3>Here's your detected License Plates </h3>
		<p>
			font-size:xx-large;
			Thank you for using our license Plate Object Detection System..
		</p>
	</div>
	<br>
	<div class="ui center aligned container">
		<h3></h3>

	    <p>Successfully detected</p>
		{
		font-size: 20px;
		}
		<style>

			body{

  				background-image: url("static/car2.jpg");
  				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;
  				}

			</style>


		<img src="static/detection1.png" alt="Detected Succesfully" width="850" height="500">

	</div>
	<br>
	<div class="ui right aligned container">
		<h3></h3>
		<p>
			Developed By -
			Pranav Dange
		</p>
	</div>
	<br>
	<div class="ui justified container">
		<h3></h3>
		<p>
			For more such cool contents please visit my Github profile...
		</p>

	</div>
	<script src= "https://code.jquery.com/jquery-3.1.1.min.js"
		integrity= "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
	</script>
</body>

</html>
